.echLegendItem {
  width: fit-content;
  margin: 0 10px;
}

.echLegend--bottom .echLegendList {
  display: flex;
  justify-content: center;
}

.chart {
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .chart  {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .chart.euiFlexGroup--responsive > .euiFlexItem {
    flex-basis: auto !important;
    width: auto !important;
  }
}
